.App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

button {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.centered {
  display: flex;
  align-items: center;
  span {
    padding-left: 0.2rem;
  }
}

.titleBar {
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding: 2rem 1rem 0.5rem 0.5rem;
  color: whitesmoke;
  background-color: #333;
  .title {
    margin-right: auto;
  }
}

.main {
  width: 100%;
  flex-grow: 1;
}

.main {
  display: flex;
  textarea {
    width: 100%;
    min-height: 100%;
    padding: 2rem 2rem 1rem 2rem;
    text-align: left;
    resize: none;

    line-height: 1.5;
    letter-spacing:0px;

    &:focus {
      outline: none;
    }
  }

  .description {
    width: 600px;
    height: 100%;
    padding: 1rem;
    .content {
      padding: 1rem;
      border: 4px solid #333;
      h1 {
        font-size: x-large;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: large;
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }
      hr {
        margin: 0.5rem -0.5rem;
      }
      p {
        line-height: 1.5;
        margin-bottom: 1rem;
      }
    }
  }

  .setting {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    padding: 1rem;
    .content {
      box-sizing: border-box;
      padding: 1rem;
      border: 8px solid #333;
      .title {
        font-size: xx-large;
        font-weight: bolder;
        margin-bottom: 1rem;
      }
      .row {
        display: flex;
        margin-bottom: 3rem;
      }
      button {
        background-color: #333;
        color: whitesmoke;
        font-weight: 700;
        width: 100%;
        text-align: center;
        border: 3px solid #333;
        padding: 1rem 2rem;
        margin: 1rem 0;
      }
      hr {
        width: 70%;
        margin: 1.5rem auto;
        border-top: 3px solid #333;
      }
    }
  }
}

.statusBar {
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  color: whitesmoke;
  background-color: #333;
  .status {
    display: flex;
    .item {
      padding: 0 0.5rem;
    }
  }
  .setting {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    .item {
      padding: 0 0 0 2rem;
    }
  }
}

.bottomMargin {
  width:100%;
  background-color: #333;
}

.unicodeExample {
  margin-bottom: 0.75rem;
  display: flex;
  .char {
    width: 3rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  .code {
    margin-left: 0.5rem;
    .hex {
      font-size: smaller;
    }
    .bin {
      font-size: large;
      span:nth-child(3),
      span:nth-child(11)
      {
        margin-left: 0.5rem;
      }
    }
  }
}